body {
  padding: 0;
  margin: 0;
  background-color: black;
  height: 5000px;
}
img {
  width: 100%;
}
.scene:nth-of-type(1) {
  top: calc(50vh - 100px);
  width: 10vw;
  max-width: 100px;
}
.scene:nth-of-type(2) {
  top: 100vh;
}
.scene .inner-text {
  position: relative;
  width: 50%;
  max-width: 500px;
  margin-bottom: 100px;
  transition: opacity 2s ease;
}
.hidden {
  opacity: 0;
}
.scene {
  width: 100%;
  position: absolute;
}
.logo {
  max-width: 1000px;
  width: 100%;
}
.center {
  margin: 0 auto;
  right: 0;
  left: 0;
}
