body {
  height: 2000px;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(
      rgba(236, 236, 236, 0.92),
      rgba(236, 236, 236, 0.92)
    ),
    url(https://i.imgur.com/0X9bfZ0.gif);
}
.pos {
  background-color: #fff;
  width: 100px;
  position: fixed;
  text-align: center;
}
.posTop {
  top: 0;
}
.posBot {
  bottom: 0;
}
